# ignore everything in node_modules, of course
node_modules/*
.parcel-cache

build/perseus.min.js
perseus.sublime-workspace

# Ignore emacs backup files
*~
/editor-perseus.js
/perseus.css
/perseus.js
/rollup-stats.html
/docs
/perseus-*.js
